.announce-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    background-color: #8DB9CA;
    color: #FFFFFF;
    text-align: center;
    font: normal normal bold 11px/13px 'Josefin Sans';
    letter-spacing: 1.65px;
    text-transform: uppercase;
    opacity: 1;
}
