.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 66px;
  background-color: white;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 75px;
  }

  a {
    color: var(--unnamed-color-221f20); // or directly use color: #221F20;
    text-align: left;
    font: normal normal bold 13px/16px Josefin Sans;
    letter-spacing: 1.95px;
    text-transform: uppercase;
    opacity: 1;
  }

  a,
  img {
    height: 13px;
    color: black;
    text-decoration: none;
  }

  &__left,
  &__right,
  &__center {
    display: flex;
    align-items: center;
  }

  &__left,
  &__right {
    .header__icons {
        display: flex;
        align-items: center;
        gap: 24px;  // adjust the distance between icons
    }

    img {
        margin-left: 0;  // override previous margin-left value
    }
    gap: 50px;
  }

  &__right {
    img {
      margin-left: 10px;
    }
  }
  &__left {
    a[href="/shop"] {
      margin-right: -45px;
    }

    .array {
      margin-left: 1px;
    }
  }

  &__center {
    position: absolute;
    img {
      height: 28px; // Height for the logo
    }
  }
  .array {
    height: 5px;
  }
}

.header__right .header__icons {
  margin-right: -35px; // Adjust this to your preferred distance
}