.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #D8E6EB;
    color: black;
    font-size: 10px;
    font: normal normal bold 11px/13px 'Josefin Sans';
    letter-spacing: 1.65px;
    text-transform: uppercase;
    opacity: 1;
}
